In [123]:
# Required Libraries
import pandas as pd
import numpy as np
from pathlib import Path
import hvplot.pandas
import matplotlib.pyplot as plt
from sklearn import svm
from sklearn.preprocessing import StandardScaler
from pandas.tseries.offsets import DateOffset
from sklearn.metrics import classification_report
import fundamentalanalysis as fa
import os
from dotenv import load_dotenv
from stocksymbol import StockSymbol
import yfinance as yf

In [124]:
load_dotenv()

True

In [125]:
fa_api_key = os.getenv("FA_API_KEY")
ss_api_key = os.getenv("STOCK_SYMBOL")

In [126]:
ss = StockSymbol(ss_api_key)

In [127]:
symbols = ss.get_symbol_list(market="US")

In [128]:
symbols_df = pd.DataFrame(symbols, columns=['symbol', 'shortName', 'longName', 'exchange', 'market', 'quoteType'])

In [129]:
symbols_df.head()

  symbol  shortName               longName exchange     market quoteType
0   AAPL      apple             Apple Inc.   NASDAQ  us_market    EQUITY
1   MSFT  microsoft  Microsoft Corporation   NASDAQ  us_market    EQUITY
2   GOOG   alphabet          Alphabet Inc.   NASDAQ  us_market    EQUITY
3  GOOGL   alphabet          Alphabet Inc.   NASDAQ  us_market    EQUITY
4   AMZN     amazon       Amazon.com, Inc.   NASDAQ  us_market    EQUITY

In [130]:
aapl = yf.Ticker('AAPL')

In [131]:
aapl_hist = aapl.history(period='2y')

In [132]:
aapl_hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2020-07-29,92.593527,94.055273,92.556491,93.867615,90329200,0.0,0.0
2020-07-30,93.025633,95.109605,92.610816,95.003433,158130000,0.0,0.0
2020-07-31,101.615844,105.102298,99.581251,104.949211,374336800,0.0,0.0
2020-08-03,106.865268,110.260364,106.561566,107.593674,308151200,0.0,0.0
2020-08-04,107.786278,109.423332,107.050465,108.312210,173071600,0.0,0.0
...,...,...,...,...,...,...,...
2022-07-22,155.389999,156.279999,153.410004,154.089996,66625400,0.0,0.0
2022-07-25,154.009995,155.039993,152.279999,152.949997,53623900,0.0,0.0
2022-07-26,152.259995,153.089996,150.800003,151.600006,55138700,0.0,0.0
2022-07-27,152.580002,157.330002,152.160004,156.789993,78620700,0.0,0.0
2022-07-28,156.979996,157.639999,154.410004,157.350006,80659400,0.0,0.0

In [137]:
aapl_hist['52_Week_high'] = aapl_hist['Close'].rolling(window=220, min_periods=0).mean()

aapl_hist.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,52_Week_high,average_volume
Date,,,,,,,,,
2020-07-29,92.593527,94.055273,92.556491,93.867615,90329200,0.0,0.0,93.867615,9.032920e+07
2020-07-30,93.025633,95.109605,92.610816,95.003433,158130000,0.0,0.0,94.435524,1.242296e+08
2020-07-31,101.615844,105.102298,99.581251,104.949211,374336800,0.0,0.0,97.940086,2.075987e+08
2020-08-03,106.865268,110.260364,106.561566,107.593674,308151200,0.0,0.0,100.353483,2.327368e+08
2020-08-04,107.786278,109.423332,107.050465,108.312210,173071600,0.0,0.0,101.945229,2.208038e+08

In [138]:
aapl_hist['average_volume'] = aapl_hist['Volume'].rolling(window=220, min_periods=0).mean()

In [145]:
if aapl_hist['average_volume'].iloc[len(aapl_hist.index) - 1] >= 250000:
    if aapl_hist['Close'].iloc[len(aapl_hist.index) - 1] >= aapl_hist['52_Week_high'].iloc[len(aapl_hist.index) - 1]:
        test = test.append(aapl_hist)
      
        
test['sym

,Open,High,Low,Close,Volume,Dividends,Stock Splits,52_Week_high,average_volume,symbol
Date,,,,,,,,,,
2020-07-29,92.593534,94.055281,92.556499,93.867622,90329200,0.0,0.0,93.867622,9.032920e+07,NaN
2020-07-30,93.025618,95.109590,92.610801,95.003418,158130000,0.0,0.0,94.435520,1.242296e+08,NaN
2020-07-31,101.615837,105.102290,99.581243,104.949203,374336800,0.0,0.0,97.940081,2.075987e+08,NaN
2020-08-03,106.865276,110.260372,106.561574,107.593681,308151200,0.0,0.0,100.353481,2.327368e+08,NaN
2020-08-04,107.786278,109.423332,107.050465,108.312210,173071600,0.0,0.0,101.945227,2.208038e+08,NaN
...,...,...,...,...,...,...,...,...,...,...
2022-07-22,155.389999,156.279999,153.410004,154.089996,66625400,0.0,0.0,157.134752,9.108223e+07,NaN
2022-07-25,154.009995,155.039993,152.279999,152.949997,53623900,0.0,0.0,157.127889,9.098770e+07,NaN
2022-07-26,152.259995,153.089996,150.800003,151.600006,55138700,0.0,0.0,157.119596,9.097785e+07,NaN
2022-07-27,152.580002,157.330002,152.160004,156.789993,78620700,0.0,0.0,157.157980,9.069479e+07,NaN
2022-07-28,156.979996,157.639999,154.410004,157.350006,80659400,0.0,0.0,157.196283,9.059595e+07,NaN

In [ ]:
stock_below_52wk = pd.DataFrame()
for row in symbols_df['symbol']:
    stock = yf.Ticker(row)
    stock_hist = stock.history(period='2y')
    stock_hist = stock_hist.drop(columns=['Open', 'High', 'Low'])
    stock_hist['52_Week_high'] = stock_hist['Close'].rolling(window=220, min_periods=0).mean()
    stock_volume = stock_hist['Volume'].rolling(window=220, min_periods=0).mean()
    if stock_volume.iloc[len(stock_volume.index) - 1] >= 250000:
        if stock_hist['Close'].iloc[len(stock_hist.index) - 1] <= stock_hist['52_Week_high'].iloc[len(stock_hist.index) - 1]:
            stock_below_52wk = stock_below_52wk.append(stock_hist)

- BRK.B: No data found, symbol may be delisted

IndexError: single positional indexer is out-of-bounds

,Open,High,Low,Close,Volume,Dividends,Stock Splits,symbol,52_Week_high
Date,,,,,,,,,
2020-07-29,198.933693,201.045823,198.452317,200.466217,19632600,0.0,0.0,NaN,200.466217
2020-07-30,197.460100,200.859171,196.055292,200.309021,25079600,0.0,0.0,NaN,200.387619
2020-07-31,200.800202,201.487886,195.505129,201.399460,51044000,0.0,0.0,NaN,200.724899
2020-08-03,207.794815,213.807028,206.733834,212.726395,78983000,0.0,0.0,NaN,203.725273
2020-08-04,210.398168,210.987607,206.606147,209.533661,49280100,0.0,0.0,NaN,204.886951
...,...,...,...,...,...,...,...,...,...
2022-07-22,542.409973,546.849976,529.229980,534.260010,1458700,0.0,0.0,NaN,670.130446
2022-07-25,535.419983,543.669983,532.119995,538.969971,1194600,0.0,0.0,NaN,668.719008
2022-07-26,528.049988,529.640015,518.539978,524.169983,1029500,0.0,0.0,NaN,667.260505
2022-07-27,533.619995,549.849976,532.590027,546.179993,1110900,0.0,0.0,NaN,665.877879
2022-07-28,547.799988,560.940002,540.760010,560.710022,1216300,0.0,0.0,NaN,664.505629

In [ ]:
financial_ratios_df = []

In [ ]:
for row in symbols_df['symbol']:
    key_metrics = pd.DataFrame(fa.financial_ratios(row, fa_api_key))
    financial_ratios_df.append(key_metrics)